.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* margin: 5% 25% 10% 25%; */
    padding: 2% 2% 2% 2%;
    border-radius: 3%;
    text-align: center;
    width: 250px;
}

/*
#content {
    justify-content: center;
}*/
img {
    justify-items: center;
    width: 90%;
    
    border-radius: 3%;
}

img {}

body {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

html {
    /* border: 3px solid blue; */
    height: 100%;
}